/* Tiraki Multi Image (tkimultiimage) module styles
 * Copyright (c) 2013 Todd Hossack / todd(at)tiraki.com
 * Last updated: 2013-08-03
 */
/* ------------ Shared multi-image styles ------------ */
.miviewer { 
	position: relative;
	clear: both;
	max-width: 100%;
	margin: 0 0 15px 0;
}

.miviewer .miholder {
	zoom: 1;
}

.miviewer .miitem {
	display: inline-block;
	max-width: 100%;
	margin: 0 0 10px 0;
	padding: 2px;
	font-size: .8em;
	color: #333;
	zoom: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
	background-color: rgb(228,228,228);
	background-color: rgba(255,255,255,.9);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	moz-box-shadow: 3px 3px 5px rgba(0,0,0,.15);
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.15);
	box-shadow: 3px 3px 5px rgba(0,0,0,.15);
}

.miviewer .miitem img {
	display: block;
	max-width: 100%;
	margin-bottom: 0;
	border: none;
	moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.miviewer .miitem.miitemwtitle,
.miviewer .miitem.miitemwcaption {
	padding-bottom: 0;
}

.miviewer .miitem.miitemwtitle img,
.miviewer .miitem.miitemwcaption img {
	margin-bottom: 0;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
}

.miviewer .miitem .miitemtext {
	padding: 10px 13px 8px 13px;
}

.miviewer .miitem .mititle {
	margin: 0 0 5px 0;
	padding: 0;
}

.miviewer .miitem .micaption {
	margin: 0;
	padding: 0;
}
.miviewer .micredit {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-style: italic;
	text-align: right;
}
.miviewer > .micredit {
	font-size: .7em;
}
.miviewer .miitemtext .micredit {
	margin: 5px 0 0 0;
	font-size: .9em;
}

/* IE fixes */
.ie8 .miviewer .miitem {
	display: block;
}

.ie8 .miviewer .miitem img {
	width: 100%;
	height: auto;
}

/* ------------ Cycle ------------ */
.micycle .miitem {
	display: none; -webkit-backface-visibility: hidden;
}
.micycle .miitem:first-child { display: block; }

.micycle .miitem.mipos-1 {
	display: inline-block;
}
.micycle .miitem img {
	max-width: 100%;
}



/* ------------ Slideshow ------------ */
.micycle .mislide {
	display: none; -webkit-backface-visibility: hidden;
}

.micycle .mislide:first-child { display: block; }

.micycle .mislideimage img {
	width: 100%;
	max-width: 100%;
}

